@keyframes preloader2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.game-search {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: -1px;
  z-index: 9;
  display: none;
}
.game-search.active {
  display: block;
}
.game-search__group {
  box-sizing: border-box;
}
.game-search__group:after {
  position: absolute;
  box-sizing: border-box;
  content: '';
  top: 50%;
  right: 8px;
  margin-top: -0.7em;
  margin-left: -0.7em;
  width: 1.4em;
  height: 1.4em;
  padding: 0;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader2 800ms linear infinite;
  animation: preloader2 800ms linear infinite;
  background: #fff;
  display: none;
}
.game-search__group.active:after {
  display: inline-block;
}
.game-search__close {
  position: absolute;
  box-sizing: border-box;
  content: '';
  top: 0;
  right: 0;
  width: 1.9em;
  bottom: 0;
  font-size: 1.4em;
  text-align: center;
  padding: .5em;
  cursor: pointer;
}
.game-search__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
}
.game-search__input:hover,
.game-search__input:focus,
.game-search__input:active {
  border-color: rgba(0, 0, 0, 0.6);
  outline: none;
}
.game-search__result {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  left: 2px;
  right: 0;
  margin-top: -2px;
  background: #fff;
}
.matchcenter-game {
  position: relative;
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}
.matchcenter-game:hover,
.matchcenter-game:active,
.matchcenter-game:focus {
  background: rgba(0, 204, 0, 0.1);
}
.matchcenter-game div:before,
.matchcenter-game div:after {
  display: block;
  clear: both;
  content: '';
}
.matchcenter-game__game-data {
  display: table-cell;
}
.matchcenter-game__scheduled,
.matchcenter-game__title,
.matchcenter-game__score {
  display: table-cell;
  font-size: 1em;
  line-height: 1;
  vertical-align: middle;
}
.matchcenter-game__scheduled {
  font-size: 12px;
  text-align: right;
  width: 110px;
  color: rgba(0, 0, 0, 0.5);
}
.matchcenter-game__title {
  text-align: center;
  color: #000;
}
.matchcenter-game__title:before,
.matchcenter-game__title:after {
  clear: both;
  content: '';
  display: block;
}
.matchcenter-game__team-1,
.matchcenter-game__team-2 {
  width: 50%;
  float: left;
  padding: 10px 15px;
  text-align: left;
  box-sizing: border-box;
}
.matchcenter-game__score {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 70px;
}
.matchcenter-game__teams {
  display: table;
  width: 100%;
  padding: 0 5px;
}
.matchcenter-game__team-flag-1,
.matchcenter-game__team-flag-2,
.matchcenter-game__title {
  display: table-cell;
}
.matchcenter-game__team-flag-1,
.matchcenter-game__team-flag-2 {
  width: 40px;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) 50% 50% / contain no-repeat;
}
/*# sourceMappingURL=style.css.map */